.todolistContainer {
    padding-top: 40px;
    justify-content: flex-start;
}

.todo {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.todo > * {
    min-width: 250px;
}

.notification {
    color: white;
}
